@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

/* Text utilities */

.text-red {
  color: rgb(151, 14, 23);
}

.bg-blue {
  background-color: rgb(12, 63, 102);
}

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}
