<!-- CTA -->
<section class="max-w-screen-xl mx-auto py-8 lg:py-16 px-4 sm:px-8 lg:px-16 bg-slate-800">
  <p class="text-xl leading-none tracking-tight text-white md:text-2xl">I tuoi cilindri perdono olio o aria frequentemente?</p>
  <p class="text-xl leading-none tracking-tight text-white md:text-2xl">Hai bisogno di una riparazione urgente di un cilindro idraulico o pneumatico?</p>
  <p class="text-xl leading-none tracking-tight text-white md:text-2xl">Vorresti assistenza per identificare le guarnizioni dei tuoi cilindri o delle tue presse?</p>
  <p class="mb-6 text-xl leading-none tracking-tight text-white md:text-2xl">Vuoi avere un cilindro di scorta ma non hai i disegni costruttivi originali?</p>

  <a href="#" class="inline-flex items-center justify-center py-1 text-base font-medium text-center text-white focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
    Possiamo aiutarti
    <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
  </a>
</section>
