<div class="relative flex lg:justify-center {{ with .Get "class" }}{{ . }}{{ end }}">
  {{ $reversed := .Get "isReversed" }}
  {{ with .Get "image" }}
    {{ $image := resources.Get (printf "images/%s" .) }}
    {{ with $image }}
      <img src="{{ .RelPermalink }}" class="hidden lg:flex h-72 shrink-0 {{ if $reversed }}order-1 lg:ml-8{{ else }}lg:mr-8{{ end }}" alt="">
    {{ end }}
  {{ end }}

  <div class="prose">
    <h3 class="mb-8 text-black text-2xl sm:text-3xl font-bold tracking-tight">{{ .Get "title" }}</h3>
    {{ .Inner }}
  </div>
</div>
